div.scrollingHotSpotLeft{
width:30px;
height:100%;
background-image:url(../img/big_transparent.gif);
background-repeat:repeat;
background-position:center center;
position:absolute;
z-index:200;
left:-15px;}

div.scrollingHotSpotLeftVisible{
background:#fff url(../img/arrow_left.gif) center center no-repeat;				
opacity:.35;
-moz-opacity:.35;
filter:alpha(opacity = 35);
zoom:0;}

div.scrollingHotSpotRight{
width:30px;
height:100%;
background-image:url(../img/big_transparent.gif);
background-repeat:repeat;
background-position:center center;
position:absolute;
z-index:200;
right:-15px;}

div.scrollingHotSpotRightVisible{
background:#fff url(../img/arrow_right.gif) center center no-repeat;
opacity:.35;
filter:alpha(opacity = 35);
-moz-opacity:.35;
zoom:1;}
div.scrollWrapper{
position:relative;
overflow: hidden;
width:100%;	height:100%;}

div.scrollableArea{
white-space:nowrap;
position:relative;
width:auto;
height:100%;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-o-user-select: none;
user-select: none;}